@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}


.main-content {
    display: flex;
    flex-direction: column;
    color: ghostwhite;
    margin: 10px;
}

.main-content h1 {
    margin-left: 16px;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #36393F;
}

/**/

.navi-bar {
    display: flex;
    padding-bottom: 10px;
    height: 100px;
    background: #36393F;
}

.first-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100%;
    background: #36393F;
    padding: 10px 30px;
}
.second-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: #36393F;
    padding-left: 30px;
}


.todo-list {
    display: flex;
justify-content: center;
    flex-wrap: wrap;
    padding: 15px 0;

}

.todo {
    display: flex;
    padding: 5px;
    justify-content: center;
}

.input-nav {
    align-self: center;
    background-color: #2f3136;
    border-radius: 5px;
    border-style: initial;
    color: #f8f8ff;
    font-size: 15px;
    height: 25px;
    outline: none;
    transition: 0.3s;
    padding-left: 5px;
    margin-top: 2px;
}

.input-nav:hover {
    background-color: #b9bbbe;
    border: #3f4756;
    color: #36393f;
}

.input-nav:focus {
    background-color: #b9bbbe;
    border: #3f4756;
    color: #36393f;
}

.button-small {
    font-size: 15px;
    background: #818387;
    color: #ccc;
    margin-top: 2px ;
    width: 70px;
    border: 0;
    border-radius: 4px;
    transition: 0.3s;
    overflow: hidden;
    text-align: center; line-height: 20px;
}
.button-small:focus {
    outline: 0;
}

.button-small:hover {
    background: darkseagreen;
    cursor: pointer;
    transition: 0.3s;}

.delete-button-small {
    font-size: 15px;
    background: #818387;
    color: #ccc;
    margin-left: 20px;
    width: 20px;
    border: 0;
    border-radius: 4px;
    transition: 0.3s;
    overflow: hidden;
    text-align: center; line-height: 20px;
}
.delete-button-small:focus {
    outline: 0;
}

.delete-button-small:hover {
    background: firebrick;
    cursor: pointer;
    transition: 0.3s;}



.checkbox {
    align-self: center;
    background-color: #2f3136;
    border-radius: 5px;
    border-style: initial;
    color: #f8f8ff;
    outline: none;
    transition: 0.3s;
    width: 20px;
}
input:checked + td {
    text-decoration: line-through;
    color: #818387;
}

.file-input {
    background: #36393F;
    color: #ccc;
    border: 0;
    border-radius: 4px;
    transition: 0.3s;
    overflow: hidden;
    margin-top: 3px;
    text-align: center; line-height: 20px;
    fontSize: 15px;
    marginLeft: "5px";
    color: #ccc;
    width: 300px;
}
.file-input:focus {
    outline: 0;
}

.file-input:hover {
    cursor: pointer;
    transition: 0.3s;}

a {
    color: ghostwhite;
}
